body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    flex-direction: column;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #007BFF;
    width: 300px;
}

label, input {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

div {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #007BFF;
    width: 300px;
    text-align: center;
}
